@import "src/components/style/StyleVariables";

.login-container {
  padding: 0 16px;

  @media (min-width: $screen--lg) {
    width: 50%;
  }
}

.login-container__title {
  color: var(--login-title-color, $main-color);
}

@media (prefers-color-scheme: dark) {
  body.dark {
    --login-title-color: #{$main-bg-color};
  }
}