@import "src/components/style/StyleVariables";

.button {
  padding: 7px 20px;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  border-radius: 100px;
  border: 2px solid var(--button-border, $grey-color);
  color: var(--button-color, $main-color);
  background: var(--button-bg, transparent);
  &:hover {
    background: var(--button-border);
  }
  &:focus {
    --button-color: #{$main-bg-color};
    --button-bg: #{$main-color--focus};
    --button-border: #{$main-color--focus};
  }
  &.button--disabled {
    --button-bg: #{$grey-color--disabled};
    --button-color: #{$grey-color};
  }
}


.button--large {
  padding: 17px 33px;
}

.button--primary, .button--secondary, .button--third {
  --button-color: #{$main-bg-color};
}

.button--primary {
  --button-bg: #{$primary-color};
  --button-border: #{$primary-color};
  &:hover {
    --button-bg: #{$primary-color--hover};
    --button-border: #{$primary-color--hover};
  }
  &:focus {
    --button-bg: #{$primary-color--focus};
    --button-border: #{$primary-color--focus};
  }
  &.button--disabled {
    --button-color: #{$main-bg-color};
    --button-bg: #{$primary-color--disabled};
    --button-border: #{$primary-color--disabled};
  }
}

.button--secondary {
  background: $secondary-color;
  border: 2px solid $secondary-color;
  &:hover {
    background: $secondary-color--hover;
    border: 2px solid $secondary-color--hover;
  }

  &:focus {
    background: $secondary-color--focus;
    border: 2px solid $secondary-color--focus;
  }
  &.button--disabled {
    color: $main-bg-color;
    background: $secondary-color--disabled;
    border: 2px solid $secondary-color--disabled;
  }
}

.button--third {
  background: $third-color;
  border: 2px solid $third-color;
  &:hover {
    background: $third-color--hover;
    border: 2px solid $third-color--hover;
  }
  &:focus {
    background: $third-color--focus;
    border: 2px solid $third-color--focus;
  }
  &.button--disabled {
    color: $main-bg-color;
    background: $third-color--disabled;
    border: 2px solid $third-color--disabled;
  }
}

@media (min-width: $screen--md) {
  .button--responsive {
    padding: 12px 33px;
  }
}

