@import "src/components/style/StyleVariables";

@media (prefers-color-scheme: dark) {
  body.dark {
    .button {
      --button-color: #{$main-bg-color};
      --button-border: #{$button-border--dark};
      &:focus {
        --button-color: #{$main-color};
        --button-bg: #{$main-bg-color};
        --button-border: #{$main-bg-color};
      }
    }
    .button--primary {
      --button-border: #{$primary-color};
      &:hover {
        --button-bg: #{$primary-color--hover};
        --button-border: #{$primary-color--hover};
      }
      &:focus {
        --button-color: #{$main-bg-color};
        --button-bg: #{$primary-color--focus};
        --button-border: #{$primary-color--focus};
      }
      &.button--disabled {
        --button-color: #{$main-bg-color};
        --button-bg: #{$primary-color--disabled};
        --button-border: #{$primary-color--disabled};
      }
    }
  }
}