@use "src/components/style/StyleVariables" as Variables;

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container__buttons {
  margin-top: 16px;
}
.error-container {
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: Variables.$error-background-color;
}

.error-container__message {
  color: Variables.$error-color;
}