$error-background-color: #ffbfbf;
$error-color: #ff0000;
$green-background: #bfffbf;
$green: #008000;
$main-color: #1E0E62;
$main-color--hover: #615691;
$main-color--focus: #180b4e;
$secondary-color: #482BE7;
$secondary-color--hover: #6c55eb;
$secondary-color--focus: #2b198a;
$secondary-color--disabled: #c8bff7;
$third-color: #E93A7D;
$third-color--hover: #f188b1;
$third-color--focus: #8b224b;
$third-color--disabled: #f8c3d8;
$primary-color: #25DAC5;
$primary-color--hover: #92ece2;
$primary-color--focus: #199889;
$primary-color--disabled: #d3f7f3;
$grey-color: #EBEAED;
$grey-color--disabled: #fbfafb;
$text-color--grey: rgba(21, 20, 57, 0.4);
$bg-color--dark: #2F1893;
$main-bg-color: #FFFFFF;
$main-bg-color--hover: #ddd6fa;
$main-bg-color--focus: #b4abe2;
$button-border--dark: #6D5DB3;
$screen--lg: 1080px;
$screen--md: 760px;