$error-background-color: #ffbfbf;
$error-color: #ff0000;
$green-background: #bfffbf;
$green: #008000;
$main-blue: #1E0E62;
$main-blue--hover: #615691;
$main-blue--focus: #180b4e;
$secondary-color: #482BE7;
$third-color: #E93A7D;
$primary-color: #25DAC5;
$bg-color-dark: #2F1893;
$bg-color-light: #FFFFFF;
$screen--lg: 1080px;
$screen--md: 760px;