@import "src/components/style/StyleVariables";
.custom-checkbox {
  position: relative;
  height: 2px;
  width: 2px;
  padding: 2px;
}

.custom-checkbox__checkmark {
  background-color: var(--checkmark-bg, $grey-color);
  border: 1px solid var(--checkmark-bg, $text-color--grey);
  border-radius: 50%;
  cursor: pointer;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.custom-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.custom-checkbox__input:checked + .custom-checkbox__checkmark {
  --checkmark-bg: #{$secondary-color};
}