@import "src/components/style/StyleVariables";

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1024px;
  margin: 0 auto;
  background: var(--header-bg, $main-bg-color);
  z-index: 100;
  gap: 32px;
}

.logo__link {
  list-style: none;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  color: var(--header-link-color, $main-color);
  &:hover {
    --header-link-color: #{$main-color--hover};
  }
  &:focus {
    --header-link-color: #{$main-color--focus};
  }
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: auto;
}

.signup-link {
  color: $main-bg-color;
  padding: 9px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background: var(--signup-link-color, $secondary-color);
  border-radius: 100px;
  border: 2px solid var(--signup-link-color, $secondary-color);
  &:hover {
    --signup-link-color: #{$secondary-color--hover};
  }
  &:focus {
    --signup-link-color: #{$secondary-color--focus};
  }
}

.hamburger-button__span {
  background: var(--header-link-color, $main-color);
  border-radius:10px;
  height:2px;
  margin: 2px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger-button {
  display:flex;
  flex-direction:column;
  width:30px;
  cursor:pointer;
  justify-content: center;
  &:hover .hamburger-button__span {
    --header-link-color: #{$main-color--hover};
  }
  &:focus .hamburger-button__span {
    --header-link-color: #{$main-color--focus};
  }
}

.hamburger-button__span:nth-of-type(1){
  width:50%;
}

.hamburger-button__span:nth-of-type(2){
  width:100%;
}

.hamburger-button__span:nth-of-type(3){
  width:75%;
}


.hamburger-button__input[type="checkbox"]{
  display:none;
}

.hamburger-button__input[type="checkbox"]:checked ~ .hamburger-button__span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(1px,-1px)
}

.hamburger-button__input[type="checkbox"]:checked ~ .hamburger-button__span:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}

.hamburger-button__input[type="checkbox"]:checked ~ .hamburger-button__span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(12px,-1px) rotatez(45deg);
}

.navigation {
  display: none;
}
.navigation--opened {
  position: absolute;
  top: 63px;
  left: 0;
  display: flex;
  background: var(--header-bg, $main-bg-color);
  height: calc(100vh - 63px);
  width: 100vw;
  box-sizing: border-box;
  padding: 20px 16px;
  z-index: 10;
}

.navigation--opened .navigation__item:first-child {
  padding-bottom: 32px;
  border-bottom: 2px solid var(--navigation-border-color, $text-color--grey);
}

.navigation__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.login-link, .signup-link {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logout-button * {
  width: 100%;
  justify-content: center;
}

.navigation__menu {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.navigation__menu * {
  display: flex;
  align-items: center;
}
.navigation__menu *::after {
  display: flex;
  content:">";
  padding: 0 6px;
}

@media (min-width: $screen--md) {
  .hamburger-button {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .navigation__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .navigation__item {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .navigation__container {
    flex-direction: row-reverse;
  }

  .login-link, .signup-link {
    display: block;
    width: max-content;
  }

  .header__link {
    font-size: 18px;
  }
  .signup-link {
    font-size: 16px;
  }
  .logo__link {
    font-size: 22px;
  }
  .navigation__menu {
    flex-direction: row;
    padding: 0;
  }

}


@media (prefers-color-scheme: dark) {
  body.dark{
    --header-bg: #{$bg-color--dark};
    .logo__link {
      --header-link-color: #{$main-bg-color};
      &:hover{
        --header-link-color: #{$main-bg-color--hover};
      }
      &:focus{
        --header-link-color: #{$main-bg-color--focus};
      }
    }
    .navigation--opened .navigation__item {
     --navigation-border-color: #{$main-bg-color};
    }
    .signup-link {
      --signup-link-color: #{$third-color};
      &:hover{
        --signup-link-color: #{$third-color--hover};
      }
      &:focus{
        --signup-link-color: #{$third-color--focus};
      }
    }
    .hamburger-button__span {
      --header-link-color: #{$main-bg-color};
    }
    .hamburger-button {
      &:hover .hamburger-button__span {
        --header-link-color: #{$main-bg-color--hover}
      }
      &:focus .hamburger-button__span {
        --header-link-color: #{$main-bg-color--focus};
      }
    }

  }
}