@import "src/components/style/StyleVariables";

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 16px;
  background: $main-bg-color;
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

.logo__link {
  list-style: none;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.signup-link {
  color: $main-bg-color;
  padding: 9px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background: $secondary-color;
  border-radius: 100px;
  border: 2px solid $secondary-color;
  &:hover {
    background: $secondary-color--hover;
    border: 2px solid $secondary-color--hover;
  }
  &:focus {
    background: $secondary-color--focus;
    border: 2px solid $secondary-color--focus;
  }
}

.hamburger-button {
  display:flex;
  flex-direction:column;
  width:30px;
  cursor:pointer;
  justify-content: center;
  &:hover .hamburger-button__span {
    background: $main-color--hover;
  }
  &:focus .hamburger-button__span {
    background: $main-color--focus;
  }
}

.hamburger-button__span {
  background: $main-color;
  border-radius:10px;
  height:2px;
  margin: 2px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger-button__span:nth-of-type(1){
  width:50%;
}

.hamburger-button__span:nth-of-type(2){
  width:100%;
}

.hamburger-button__span:nth-of-type(3){
  width:75%;
}


.hamburger-button__input[type="checkbox"]{
  display:none;
}

.hamburger-button__input[type="checkbox"]:checked ~ .hamburger-button__span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(1px,-1px)
}

.hamburger-button__input[type="checkbox"]:checked ~ .hamburger-button__span:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}

.hamburger-button__input[type="checkbox"]:checked ~ .hamburger-button__span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(12px,-1px) rotatez(45deg);
}

.navigation {
  display: none;
}
.navigation--opened {
  position: absolute;
  top: 63px;
  left: 0;
  display: flex;
  background: $main-bg-color;
  height: calc(100vh - 63px);
  width: 100vw;
  box-sizing: border-box;
  padding: 20px 16px;
  z-index: 10;
}

.navigation__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}

@media (min-width: $screen--md) {
  .hamburger-button {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .navigation__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .navigation__item {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .header__link {
    font-size: 18px;
  }
  .signup-link {
    font-size: 16px;
  }
  .logo__link {
    font-size: 22px;
  }

}