@import "src/components/style/StyleVariables";
.toggle__label, .toggle__container .toggle__icon {
  color: var(--label-color, $main-color);
}

.toggle {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 4px;
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --toggle-bg: #{$text-color--grey};
  --toggle-bg--checked: #{$secondary-color};
}

.toggle__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle__slider {
  cursor: pointer;
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--toggle-bg);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
  &:hover {
    --toggle-bg: #{rgba($text-color--grey, 0.3)};
  }
}

.toggle__slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.toggle__input:checked ~ .toggle__container .toggle__slider {
  background-color: var(--toggle-bg--checked);
  &:hover {
    --toggle-bg--checked: #{$main-color--hover};
  }
}

.toggle__input:checked ~ .toggle__container .toggle__slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}


.toggle__input {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.toggle__input:active ~ .toggle__container .toggle__slider::after {
  width: var(--toggle-wider);
}

.toggle__input:checked:active ~ .toggle__container .toggle__slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

@media (prefers-color-scheme: dark) {
  body.dark{
    --label-color: #{$main-bg-color};
  }
}

