@import "components/style/StyleVariables";
body {
  font-family: DM Sans, sans-serif;
  background: var(--bg-color, $main-bg-color);
  text-rendering: optimizeSpeed;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.page__section {
  max-width: 1024px;
  margin: 0 auto;
}
a {
  list-style: none;
  text-decoration: none;
}

.link {
  color: var(--link-color, $main-color);
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  &:hover {
    --link-color: #{$main-color--hover};
  }
  &:focus {
    --link-color: #{$main-color--focus};
  }
}



@media (prefers-color-scheme: dark) {
  body.dark {
    --bg-color: #{$bg-color--dark};
    .link {
      --link-color: #{$main-bg-color};
      &:hover{
        --link-color: #{$main-bg-color--hover};
      }
      &:focus{
        --link-color: #{$main-bg-color--focus};
      }
    }
  }
}




