@import "src/components/style/StyleVariables";

@media (prefers-color-scheme: dark) {
  body.dark {
    .action {
      --action-color: #{$main-bg-color};
      --action-border: #{$button-border--dark};
      &:focus {
        --action-color: #{$main-color};
        --action-bg: #{$main-bg-color};
        --action-border: #{$main-bg-color};
      }
    }
    .action--primary {
      --action-border: #{$primary-color};
      &:hover {
        --action-bg: #{$primary-color--hover};
        --action-border: #{$primary-color--hover};
      }
      &:focus {
        --action-color: #{$main-bg-color};
        --action-bg: #{$primary-color--focus};
        --action-border: #{$primary-color--focus};
      }
      &.action--disabled {
        --action-color: #{$main-bg-color};
        --action-bg: #{$primary-color--disabled};
        --action-border: #{$primary-color--disabled};
      }
    }
    .action--third, .action--secondary {
      &:focus {
        --action-color: #{$main-bg-color};
      }
    }
  }
}