@import "src/components/style/StyleVariables";

.action {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 7px 20px;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  border-radius: 100px;
  border: 2px solid var(--action-border, $grey-color);
  color: var(--action-color, $main-color);
  background: var(--action-bg, transparent);
  &:hover {
    background: var(--action-border);
  }
  &:focus {
    --action-color: #{$main-bg-color};
    --action-bg: #{$main-color--focus};
    --action-border: #{$main-color--focus};
  }
  &.action--disabled {
    --action-bg: #{$grey-color--disabled};
    --action-color: #{$grey-color};
  }
}


.action--large {
  padding: 17px 33px;
}

.action--primary, .action--secondary, .action--third {
  --action-color: #{$main-bg-color};
}

.action--primary {
  --action-bg: #{$primary-color};
  --action-border: #{$primary-color};
  &:hover {
    --action-bg: #{$primary-color--hover};
    --action-border: #{$primary-color--hover};
  }
  &:focus {
    --action-bg: #{$primary-color--focus};
    --action-border: #{$primary-color--focus};
  }
  &.action--disabled {
    --action-color: #{$main-bg-color};
    --action-bg: #{$primary-color--disabled};
    --action-border: #{$primary-color--disabled};
  }
}

.action--secondary {
  background: $secondary-color;
  border: 2px solid $secondary-color;
  &:hover {
    background: $secondary-color--hover;
    border: 2px solid $secondary-color--hover;
  }

  &:focus {
    background: $secondary-color--focus;
    border: 2px solid $secondary-color--focus;
  }
  &.action--disabled {
    color: $main-bg-color;
    background: $secondary-color--disabled;
    border: 2px solid $secondary-color--disabled;
  }
}

.action--third {
  background: $third-color;
  border: 2px solid $third-color;
  &:hover {
    background: $third-color--hover;
    border: 2px solid $third-color--hover;
  }
  &:focus {
    background: $third-color--focus;
    border: 2px solid $third-color--focus;
  }
  &.action--disabled {
    color: $main-bg-color;
    background: $third-color--disabled;
    border: 2px solid $third-color--disabled;
  }
}

@media (min-width: $screen--md) {
  .action--responsive {
    padding: 12px 33px;
  }
}

