@import "src/components/style/StyleVariables";
.page-container {
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
}

.page__section {
  padding: 0 16px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.data-form__container {
  border-bottom: 2px solid rgba($text-color--grey, 0.3);
}

.data-form__form {
  margin-bottom: 30px;
}

.form-toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  background: transparent;
  border: none;
  width: 100%;
  color: var(--form-toggle-color, $main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  &:hover {
    --form-toggle-color: #{$main-color--hover};
  }
  &:focus {
    --form-toggle-color: #{$main-color--focus};
  }
}

.form-toggle--toggled {
  margin-bottom: 34px;
}

.toggle-svg {
  color: inherit;

}

.toggle-svg--rotated {
  transform: rotate(180deg);
}


@media (min-width: $screen--md) {

}