@import "src/components/style/StyleVariables";

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-container__buttons {
  margin-top: 16px;
}
.error-container {
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: $error-background-color;
}

.error-container__message {
  color: $error-color;
}