@import "src/components/style/StyleVariables";

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container__actions {
  margin-top: 10px;
}
.error-container {
  padding: 16px;
  border-radius: 4px;
  background-color: $error-background-color;
}

.error-container__message {
  color: $error-color;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.actions__buttons {
  display: flex;
  gap: 12px;
}

.actions__links {
  display: flex;
  flex-direction: column;
}

.action__link {
  color: var(--form-link-color, $main-color);
  text-decoration: underline var(--form-link-color, $main-color);
  &:hover {
  --form-link-color: #{$main-color--hover};
  }
  &:focus {
    --form-link-color: #{$main-color--focus};
  }
}

@media (min-width: $screen--md) {
  .form-container {
    gap: 30px;
  }
  .actions {
    gap: 30px;
  }
}

@media (prefers-color-scheme: dark) {
  body.dark {
    .action__link {
      color: var(--form-link-color, $primary-color);
      text-decoration: underline var(--form-link-color, $primary-color);
      &:hover {
        --form-link-color: #{$primary-color--hover};
      }
      &:focus {
        --form-link-color: #{$primary-color--focus};
      }
    }
  }
}