@import "src/components/style/StyleVariables";

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container__actions {
  margin-top: 10px;
}
.error-container {
  padding: 16px;
  border-radius: 4px;
  background-color: $error-background-color;
}

.error-container__message {
  color: $error-color;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.actions__buttons {
  display: flex;
  gap: 12px;
}

@media (min-width: $screen--md) {
  .form-container {
    gap: 30px;
  }
  .actions {
    gap: 30px;
  }
}